{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "layouts/_navbar.html.twig" %}
	<h2 class="text-red-500">Home page</h2>
{% endblock %}
