{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!
{% endblock %}

{% block body %}
	{% include "layouts/_navbar.html.twig" %}
	<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-gray-700 md:text-lg">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.
			</p>
		</div>
		<div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-4 sm:grid-cols-2">
			{% for advert in adverts %}
			<a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
				<div class="flex flex-col h-full">
					<img src="/uploads/annonces/{{advert.imageName}}" class="object-cover w-full h-48" alt="" />
					<div class="flex-grow shadow-sm">
						<div class="p-5">
							<h5 class="mb-2 font-semibold leading-5 text-gray-800">{{advert.title}}</h5>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
